<h1>hello</h1>{{#each articles}}
<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{teaser}}</p>
    <a href={{link}} target="_blank" class="btn btn-primary">Read Article</a>
    <btn class="btn btn-success note" data-id={{_id}} data-title="{{title}}">Add Note</btn>
    <btn class="btn btn-danger delete-article" data-id={{_id}}>Delete</btn>
    
  </div>
</div>
{{/each}}